<ion-header>
  <ion-navbar>
    <ion-title>Orders</ion-title>
  </ion-navbar>
</ion-header>

<div class="headerContainer">
  <div class="titleContainer">
    <h3>Your commands:</h3>
    <div class="cart">
      <h4>{{orders.length || 0}}</h4>
    </div>
  </div>
</div>
<ion-content class="body">
  <ion-list class="ordersContainer" *ngIf="orders">
    <div *ngFor="let item of orders">
      <div class="listHeader">
          <h5>Order from: {{item.date | date: 'shortDate'}}</h5>
          <h5>Total: {{item.total}}₹</h5>
        </div>
            <ion-item *ngFor="let product of item.products">
                <h3>{{product.name}}</h3>
                <ion-note item-end>Qty: {{product.quantity}}</ion-note>
            </ion-item>
    </div>
  </ion-list>
</ion-content>

